In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('spotify.csv', encoding='ISO-8859-1')
df.sample(5)

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
932,APAGA EL CEL,APAGA EL CEL - Single,FloyyMenor,5/17/2024,QZMWW2484259,929,50.0,"33,245,898","2,343","69,471,936",...,NaN,3.0,"821,777",17.0,"18,555",27,"110,406","171,732",NaN,1
2899,Delicate,reputation,Taylor Swift,11/10/2017,USCJY1750007,"2,885",26.0,"987,770,768","58,856","33,732,271",...,30,17.0,"234,356",55.0,"168,036,238","64,405",NaN,"3,928,542",NaN,0
4421,La La La (Brazil 2014),Shakira. (Deluxe Version),Shakira,3/14/2014,USRC11400478,"4,395",20.0,"125,560,682","17,633","2,897,643",...,102,7.0,"129,945",2.0,NaN,NaN,NaN,"1,319,100",NaN,0
3858,ýýýýýý,ýýýýýý,ýýýýýýýýýýýý,1/5/2024,JPPO02304150,"3,834",21.8,"46,945,798","4,120","5,907,064",...,NaN,1.0,"20,798",4.0,NaN,NaN,NaN,"161,457",NaN,0
783,PAINTING PICTURES,5LBS OF PRESSURE,Superstar Pride,10/20/2022,QZNMX2257577,777,54.9,"193,109,326","76,047","4,765,141",...,"2,704",4.0,"479,325",1.0,"7,692,981","6,306","23,495,613","2,304,354",NaN,1

In [2]:
# release date should be datetime, some numbers are listed as objects
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   object
 4   ISRC                        4600 non-null   object
 5   All Time Rank               4600 non-null   object
 6   Track Score                 4600 non-null   float64
 7   Spotify Streams             4487 non-null   object
 8   Spotify Playlist Count      4530 non-null   object
 9   Spotify Playlist Reach      4528 non-null   object
 10  Spotify Popularity          3796 non-null   float64
 11  YouTube Views               4292 non-null   object
 12  YouTube Likes               4285 non-null   object
 13  TikTok Posts                3427 non-null   object
 14  TikTok Likes                3620 non-null   object
 15  TikTok Views                3619 non-null   object
 16  YouTube Playlist Reach      3591 non-null   object
 17  Apple Music Playlist Count  4039 non-null   float64
 18  AirPlay Spins               4102 non-null   object
 19  SiriusXM Spins              2477 non-null   object
 20  Deezer Playlist Count       3679 non-null   float64
 21  Deezer Playlist Reach       3672 non-null   object
 22  Amazon Playlist Count       3545 non-null   float64
 23  Pandora Streams             3494 non-null   object
 24  Pandora Track Stations      3332 non-null   object
 25  Soundcloud Streams          1267 non-null   object
 26  Shazam Counts               4023 non-null   object
 27  TIDAL Popularity            0 non-null      float64
 28  Explicit Track              4600 non-null   int64
dtypes: float64(6), int64(1), object(22)
memory usage: 1.0+ MB

In [3]:
df.columns.to_list()

['Track',
 'Album Name',
 'Artist',
 'Release Date',
 'ISRC',
 'All Time Rank',
 'Track Score',
 'Spotify Streams',
 'Spotify Playlist Count',
 'Spotify Playlist Reach',
 'Spotify Popularity',
 'YouTube Views',
 'YouTube Likes',
 'TikTok Posts',
 'TikTok Likes',
 'TikTok Views',
 'YouTube Playlist Reach',
 'Apple Music Playlist Count',
 'AirPlay Spins',
 'SiriusXM Spins',
 'Deezer Playlist Count',
 'Deezer Playlist Reach',
 'Amazon Playlist Count',
 'Pandora Streams',
 'Pandora Track Stations',
 'Soundcloud Streams',
 'Shazam Counts',
 'TIDAL Popularity',
 'Explicit Track']

In [4]:
original_columns = ['Track',
 'Album Name',
 'Artist',
 'Release Date',
 'ISRC',
 'All Time Rank',
 'Track Score',
 'Spotify Streams',
 'Spotify Playlist Count',
 'Spotify Playlist Reach',
 'Spotify Popularity',
 'YouTube Views',
 'YouTube Likes',
 'TikTok Posts',
 'TikTok Likes',
 'TikTok Views',
 'YouTube Playlist Reach',
 'Apple Music Playlist Count',
 'AirPlay Spins',
 'SiriusXM Spins',
 'Deezer Playlist Count',
 'Deezer Playlist Reach',
 'Amazon Playlist Count',
 'Pandora Streams',
 'Pandora Track Stations',
 'Soundcloud Streams',
 'Shazam Counts',
 'TIDAL Popularity',
 'Explicit Track']

new_columns = [col.lower().replace(' ', '_') for col in original_columns]

df.columns = new_columns

In [5]:
df.columns.to_list()

['track',
 'album_name',
 'artist',
 'release_date',
 'isrc',
 'all_time_rank',
 'track_score',
 'spotify_streams',
 'spotify_playlist_count',
 'spotify_playlist_reach',
 'spotify_popularity',
 'youtube_views',
 'youtube_likes',
 'tiktok_posts',
 'tiktok_likes',
 'tiktok_views',
 'youtube_playlist_reach',
 'apple_music_playlist_count',
 'airplay_spins',
 'siriusxm_spins',
 'deezer_playlist_count',
 'deezer_playlist_reach',
 'amazon_playlist_count',
 'pandora_streams',
 'pandora_track_stations',
 'soundcloud_streams',
 'shazam_counts',
 'tidal_popularity',
 'explicit_track']

In [6]:
df.dtypes

track                          object
album_name                     object
artist                         object
release_date                   object
isrc                           object
all_time_rank                  object
track_score                   float64
spotify_streams                object
spotify_playlist_count         object
spotify_playlist_reach         object
spotify_popularity            float64
youtube_views                  object
youtube_likes                  object
tiktok_posts                   object
tiktok_likes                   object
tiktok_views                   object
youtube_playlist_reach         object
apple_music_playlist_count    float64
airplay_spins                  object
siriusxm_spins                 object
deezer_playlist_count         float64
deezer_playlist_reach          object
amazon_playlist_count         float64
pandora_streams                object
pandora_track_stations         object
soundcloud_streams             object
shazam_counts                  object
tidal_popularity              float64
explicit_track                  int64
dtype: object

In [10]:
def clean_and_convert(column):
    return column.str.replace(',','').astype(float).fillna(0).astype('int64')

In [11]:
potential_numeric_columns = []
 
for col in df.select_dtypes(include='object').columns:
    try:
        df[col].str.replace(',','').astype(float)
        potential_numeric_columns.append(col)
    except ValueError:
        pass
 
print("columns with numeric data as string with commas:")
print(potential_numeric_columns)
 
for col in potential_numeric_columns:
    df[col] = clean_and_convert(df[col])
 
print(df[potential_numeric_columns].dtypes)

columns with numeric data as string with commas:
['All Time Rank', 'Spotify Streams', 'Spotify Playlist Count', 'Spotify Playlist Reach', 'YouTube Views', 'YouTube Likes', 'TikTok Posts', 'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach', 'AirPlay Spins', 'SiriusXM Spins', 'Deezer Playlist Reach', 'Pandora Streams', 'Pandora Track Stations', 'Soundcloud Streams', 'Shazam Counts']

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df.dtypes

In [ ]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [ ]:
df.info()

In [ ]:
null_counts = df.isnull().sum()
print(null_counts)

In [ ]:
null_percentage = df.isnull().mean() * 100
print(null_percentage)

what to do with null values

impute:
 - fill those values with information from its column
 - mode: most common
 - mean: average
 - min, max, etc
 - constant: the actual value

 example
 age:
 - 15% null values
 - impute with mean

 titanic:
 - 0/1 not/survived
 - mode: most common value

In [ ]:
columns_to_impute = null_percentage[(null_percentage < 45) & (df.dtypes != 'object')].index

for column in columns_to_impute:
    if pd.api.types.is_integer_dtype(df[column]):
        mean_value = int(df[column].mean())
    else:
        mean_value = df[column].mean()
        df[column].fillna(mean_value, inplace=True)

In [ ]:
null_percentage = df.isnull().mean() * 100
print(null_percentage)

In [ ]:
df['album_name'].fillna('unknown', inplace=True)

# same thing df['album_name'] = df['album_name'].fillna('unknown')

df['artist'].fillna('unknown', inplace=True)

In [ ]:
columns_to_drop = ['tidal_popularity', 'soundcloud_streams', 'siriusxm_spins', 'isrc']
df.drop(columns=columns_to_drop, inplace=True)

In [ ]:
null_percentage = df.isnull().mean() * 100
print(null_percentage)

In [ ]:
duplicates = df.duplicated().sum()
print(f'duplicate rows: {duplicates}')

In [ ]:
duplicates = df[df.duplicated(keep=False)]
duplicates

In [ ]:
df = df.drop_duplicates()
df.duplicated().sum()

Outliers

detects:
- math: IQR- Zscore
- visual: boxplot/histogram

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.figure(figsize= (12,8))
sns.boxenplot(data=df.select_dtypes(include=[float, int]))

plt.title('Box plots of numeric columns')
plt.xlabel('columns')
plt.ylabel('value')

plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

In [ ]:
#same as above without formatting

#plt.figure(figsize= (12,8))
sns.boxenplot(data=df.select_dtypes(include=[float, int]))

#plt.title('Box plots of numeric columns')
#plt.xlabel('columns')
#plt.ylabel('value')

#plt.xticks(rotation=90)
#plt.tight_layout()
#plt.show()

In [ ]:
#watch vid to catch

what we talked about

bulk of our transformations

E- extract 

- aquired data, load in with file, used pandas to read_csv

T- transform

- cleaing column names
- checking for duplicates
- changed datatypes
- filled in null values (impute)
- dropped other null values
- checked outliers (keep those for now)

L- load 

- (add it to repo, file, etc) so we can use it later (already clean)
- loading it into SQL (gold layer)

SQL / Database:
- Bronze: raw data (data engineers)
- Silver: transformed, cleaned (what we do, turn into this)
- Gold: SQL, ready to go (sql, queries)

In [ ]:
df.info()

In [ ]:
#creating year column from release date year
df['release_year'] = df['release_date'].dt.year

In [ ]:
df.head()

In [ ]:
df['release_month'] = df['release_date'].dt.month
df['release_day'] = df['release_date'].dt.day

In [ ]:
df.head()

In [ ]:
df['month_name'] = df['release_date'].dt.strftime('%B')
# same thing df['month_name'] = df['release_date'].dt.month_name

In [ ]:
df.head()

In [ ]:
df['weekday'] = df['release_date'].dt.strftime('%A')
#same thing df['weekday'] = df['release_date'].dt.day_name

In [ ]:
df.head()

Feature engineering:

- creation (done above)
    - creating new columns from existing data
- binning (done below)
    - creating segments and labeling them
- aggregation (done below)

In [ ]:
#binning (if we hadn't already converted our datatypes)
#step 1
df['track_score'] = pd.to_numeric(df['track_score'])

In [ ]:
# step 2
print(df['track_score'].describe())
print(df['track_score'].min(), df['track_score'].max())

In [ ]:
#step 3
#define those bins
bins = [19.4, 50, 100, 200, 400, 725.4]
#created labels for bins
labels = ['very low', 'low', 'medium', 'high', 'very high']

df['track_score_bins'] = pd.cut(df['track_score'], bins=bins, labels=labels)

In [ ]:
df.head()

In [ ]:
df.sample(10)

In [ ]:
df['track_score_bins'].value_counts()

In [ ]:
#aggregation
artist_streams = df.groupby('artist')['spotify_streams'].sum().reset_index()
artist_streams

extract/aquire > transform/prepare > explore > model > load/deliver

Exploration purpose:
- outliers/anamolies
- visualize trends in data
    - ex. a store looking at trends for next holiday season (time series analysis)
- patterns
    - ex. some stores/artists make more sales than others

Tools/libraries:
- matplotlib - versatile, has more specification
- seaborn - easy to use, built with matplotlib, syntax is straight forward

Types of exploration
- unicariate - one
- bivariate - two
- multi-variate - more than 2

Univariate exploration:
- looking at one variable and looking for its distribution
- histogram
- boxplot (outliers)

In [ ]:
plt.figure(figsize=(10,6))
sns.histplot(df['spotify_streams'], kde=True, color='purple')
plt.title('Distribution of Spotify Streams')
plt.xlabel('Spotify Streams')
plt.ylabel('Frequency')
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
sns.boxplot(x=df['youtube_views'])
plt.title('Boxplot of Youtube Views')
plt.xlabel('Youtube Views')
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
sns.countplot(x='track_score_bins', data=df)
plt.title('Number of Tracks by Score Bin')
plt.xlabel('Track Score Bin')
plt.ylabel('Count')
plt.show()

Bivariate exploration
- relationships between two variables
- one variable on the x axis, one variable on the y axis

- scatterplot
- stacked barplot
- line plots

In [ ]:
monthly_counts = df.groupby(['month_name', 'track_score_bins']).size().unstack(fill_value=0)

plt.figure(figsize=(14,8))

monthly_counts.plot(kind='bar', stacked=True, colormap='Set2')

plt.title('Distribution of Track Score Bines by Month')
plt.xlabel('Release Month')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.legend(title='Track Score Bins')
plt.grid(True, linestyle='--', alpha=0.7)
plt.tight_layout()
plt.show()

In [ ]:
#relational plot
sns.relplot(data=df, x='spotify_popularity', y='youtube_views', kind='line')

Multi-Variate:
- more than 2 features
- heatmaps
- correlations
- pairplots
- facet grid (subplotting)

In [ ]:
plt.figure(figsize=(12, 10))
corr= df[['spotify_streams','youtube_views','tiktok_views','apple_music_playlist_count']]
sns.heatmap(corr, annot=True, cmap='coolwarm', vmin=1, vmax=1)
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
sns.pairplot(df[['spotify_streams','youtube_views','tiktok_views','apple_music_playlist_count']])
plt.show()

In [ ]:
#FaceGrid: Multivariate

g= sns.FacetGrid(df, col='track_score_bins', col_wrap=4, height=4)
g.map(sns.histplot, 'spotify_streams')
plt.show()

In [ ]:
print(df['release_year'].min(), df['release_year'].max())

In [ ]:
#step 1 - create bins
bins = list(range(1985,2025, 5))
labels = [f'{start}-{end-1}' for start, end in zip(bins[:-1], bins[1:])]

#step 2 - name the column for bins we created
df['release_year_bin'] = pd.cut(df['release_year'], bins=bins, labels=labels, right=False)

avg_streams_by_bin = df.groupby('release_year_bin')['spotify_streams'].mean()

plt.figure(figsize=(14,7))
avg_streams_by_bin.plot(kind='bar', color='c')
plt.title('Average Spotify Streams by Release Year Bin')
plt.xlabel('Release Year Bin')
plt.ylabel('Average Spotify Streams')
plt.xticks(rotation=45)
plt.grid(axis='y')
plt.tight_layout()
plt.show()